<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profileStyle.css">
    <title>Welcome, Admin</title>
</head>
<body>
<div class="container">
    <!-- Admin Information -->
    <div class="admin-info">
        <h1 th:text="'Welcome ' + ${admin.nickname} + '!'"></h1>
        <ul>
            <li>ID: <span id="adminId" th:text="${admin.id}" style="display: none;"></span></li>
            <li>
                Nickname:
                <span id="nicknameField" th:text="${admin.nickname}"></span>
                <button id="editNicknameBtn" class="small-btn" onclick="toggleEdit('nickname')">Edit</button>
            </li>
            <li>
                Email:
                <span id="emailField" th:text="${admin.email}"></span>
                <button id="editEmailBtn" class="small-btn" onclick="toggleEdit('email')">Edit</button>
            </li>
        </ul>
    </div>
    <!-- Test List and Create New Test -->
    <div class="test-list-create">
        <div class="test-header">
            <h3>Test List</h3>
        </div>
        <div class="test-list">
            <ol>
                <li th:each="test : ${tests}">
                    <span th:text="${test.name}"></span>
                </li>
            </ol>
        </div>
        <div class="create-test">
            <form action="/api/test/create" method="POST">
                <input type="text" id="testName" name="testName" required>
                <button type="submit">Create Test</button>
            </form>
        </div>
    </div>
</div>
<script src="/static/script/profile.js"></script>
</body>
</html>
